.tombol-daftar{
    background-color: rgb(207, 142, 179);
    text-decoration: none;
    color: white;
    padding: 9px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 65%;
}
table{
  margin: 40px;
  background-color: #faf2f6;
}
.event {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
.event td, .event th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

.event tr:hover{
  background-color: #ddd;
}
.event th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ddacc6;
    color: white;
  }
.t-edit a{
  text-decoration: none;
  padding: 5px 6px;
  font-size: 14px;
  background-color: rgb(157, 206, 83);
  border-radius: 5px;
  color: white;
}
.t-hapus a{
  text-decoration: none;
  padding: 5px 6px;
  font-size: 13px;
  background-color: rgb(185, 67, 67);
  border-radius: 5px;
  color: white;
}
