*{
    margin: 0;
    padding: 0;
}
.h1edit{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(214, 157, 189);
    font-size: 30px;
    text-align: center;
}
.edit-pndftr{
    box-sizing: border-box;
    border: 2px solid rgb(214, 157, 189);
    width: 32%;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 36%;
}
.edit-pndftr select{
    width: 410px;
   color: rgb(0, 0, 0);
   padding: 6px;
   margin-top: 15px;
   margin-left: 17px;
   border-radius: 10px;
   border: none;
   background-color: rgb(245, 223, 235);
   cursor: pointer;
}
.edit-pndftr input[type=text]{
    width: 400px;
   color: rgb(0, 0, 0);
   padding: 6px;
   margin-top: 5px;
   margin-left: 17px;
   border-radius: 10px;
   border: none;
   background-color: rgb(245, 223, 235);
   cursor: pointer;
}
.edit-pndftr input[type=date]{
    width: 400px;
    color: rgb(0, 0, 0);
    padding: 6px;
    margin-top: 5px;
    margin-left: 17px;
    border-radius: 10px;
    border: none;
    background-color: rgb(241, 200, 223);
    cursor: pointer;
}
.edit-pndftr input[type=submit]{
    width: 300px;
    color: rgb(0, 0, 0);
    padding: 6px;
    margin-top: 5px;
    margin-left: 17px;
    border-radius: 10px;
    border: none;
    margin-left: 14%;
    background-color: rgb(157, 206, 83);
    cursor: pointer;
    margin-bottom: 15px;
}
