*{
    margin: 0;
    padding: 0;
}
.hlmn-login{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(214, 157, 189);
    margin-left: 40%;
}
.login{
    box-sizing: border-box;
    border: 2px solid rgb(214, 157, 189);
    width: 27%;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 34%;
}
.login [type=text]{
    width: 35%;
   color: rgb(0, 0, 0);
   padding: 6px 135px;
   border-radius: 10px;
   border: none;
   background-color: rgb(245, 223, 235);
   cursor: pointer; 
}
.login [type=password]{
    width: 35%;
    color: rgb(0, 0, 0);
    padding: 6px 135px;
    border-radius: 10px;
    border: none;
    background-color: rgb(245, 223, 235);
    cursor: pointer;
}
.login [type=submit]{
    width: 35%;
    color: rgb(255, 255, 255);
    padding: 6px 135px;
    border-radius: 10px;
    border: none;
    margin-left: 16%;
    background-color: rgb(241, 200, 223);
    cursor: pointer;
}
.t-daftar{
    margin-left: 53%;
    font-size: 14px;
}
.t-daftar a{
    color:  rgb(182, 117, 154);
    text-decoration: none;
}